{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class = "table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Symbol</th>
                <th>Company</th>
                <th>Size</th>
                <th>Price</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for row in stocks %}
            <tr>
                <td>{{ row.timestamp }}</td>
                <td>{{ row.companySymbol }}</td>
                <td>{{ row.companyName }}</td>
                <td>{{ row.shares }}</td>
                <td>{{ row.price | usd }}</td>
                <td>{{ row.tag }}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}